<div>
    <div class="row">

        <div class="col-md-4 text-center">
            <button class="btn btn-primary" style="width: 150px;" routerLink="/design">Punto 1</button>
        </div>
        <div class="col-md-4 text-center">
            <button class="btn btn-primary" style="width: 150px;" routerLink="/point2">Punto 2</button>
        </div>

        <div class="col-md-4 text-center">

            <button class="btn btn-primary" style="width: 150px;" routerLink="/admin">Punto 3</button>

        </div>
    </div>

</div>