<div style="margin: 50px">

    <img class="text-center" [src]="logo" alt="NotFound" style="height: 100px; width: 100px;">
    <div style="border-bottom: 1px black solid;">
        <h1 class="text-center">TECHNICAL TEST IMPLEMENTATION</h1>
    </div>
    <h4 class="text-center">Juan Nicolás Torres Niño</h4>
</div>
<div style="height: 50px;"></div>
<div class="container">
    <router-outlet></router-outlet>
</div>