<div>
    <p>A continuación se muestra el diseño inicial de la base de datos utilizada en esta prueba.</p>
</div>
<div class="text-center">
    <img [src]="diagram" alt="NotFound" style="width: 100%;">
</div>
<div>
    <p>Así es como quedó luego de implementar la base de datos en MySQL</p>
</div>
<div class="text-center">
    <img [src]="db" alt="NotFound" style="width: 100%;">
</div>