<h2>SQL Sentence to get the information:</h2>
<p>SELECT vehicle.plates, company.id_type, company.id_number, company.company_name, COUNT(vehicledriver.id_vehicle) FROM vehicle INNER JOIN company ON vehicle.id_company = company.id INNER JOIN vehicledriver ON vehicle.id = vehicledriver.id_vehicle INNER
    JOIN driver ON vehicledriver.id_driver = driver.id GROUP BY vehicledriver.id_vehicle HAVING COUNT(vehicledriver.id_vehicle) > 1 ORDER BY vehicle.plates</p>
<table class="table table-bordered">
    <thead class="text-center">
        <tr>
            <th>Plates</th>
            <th>Company Id Type</th>
            <th>Company Id</th>
            <th>Company Name</th>
            <th>Conductores Asignados</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.plate}}</td>
            <td>{{vehicle.companyIdType}}</td>
            <td>{{vehicle.companyIdNumber}}</td>
            <td>{{vehicle.companyName}}</td>
            <td>{{vehicle.drivers}}</td>
        </tr>
    </tbody>

</table>