<h4 style="color: gray;">You are signed as an Administrator</h4>
<h2>List of Companies</h2>
<table class="table table-bordered">
    <thead class="text-center">
        <tr>
            <th>ID</th>
            <th>Administrator</th>
            <th>Legal Representative</th>
            <th>Company Type</th>
            <th>ID Type</th>
            <th>ID Number</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Department</th>
            <th>Country</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of companies">
            <td>{{company.id}}</td>
            <td>{{company.name}}</td>
            <td>{{company.representative_name}}</td>
            <td>{{company.company_type}}</td>
            <td>{{company.id_type}}</td>
            <td>{{company.id_number}}</td>
            <td>{{company.company_name}}</td>
            <td>{{company.address}}</td>
            <td>{{company.city}}</td>
            <td>{{company.department}}</td>
            <td>{{company.country}}</td>
            <td>{{company.phone}}</td>
        </tr>
    </tbody>
</table>

<h2>Use this form to create a new company</h2>
<form (ngSubmit)="onSubmit()">
    <div class="row">

        <div class="col-md-6">
            <div class="text-center">
                <h3>COMPANY</h3>
            </div>


            <div class="form-group">
                <label>Type</label>
                <select class="form-control" id="companyType" name="companyType" [(ngModel)]="form.companyType">
                    <option value="Transporte">Transporte</option>
                    <option value="Vehículos">Vehículos</option>
                    <option value="Conductores">Conductores</option>
                </select>
            </div>
            <div class="form-group">
                <label>ID Type</label>
                <select class="form-control" id="companyIdType" name="companyIdType" [(ngModel)]="form.companyIdType">
                    <option value="CC">CC</option>
                    <option value="NIT">NIT</option>
                    <option value="CD">CD</option>
                </select>
            </div>
            <div class="form-group">
                <label>ID</label>
                <input type="number" class="form-control" id="companyID" name="companyID" [(ngModel)]="form.companyID">
            </div>
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" id="companyName" name="companyName" [(ngModel)]="form.companyName">
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" id="companyAddress" name="companyAddress" [(ngModel)]="form.companyAddress">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" id="companyCity" name="companyCity" [(ngModel)]="form.companyCity">
            </div>

            <div class="form-group">
                <label>Department</label>
                <input type="text" class="form-control " id="companyDepartment" name="companyDepartment" [(ngModel)]="form.companyDepartment">
            </div>

            <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" id="companyCountry" name="companyCountry" [(ngModel)]="form.companyCountry">
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="number" class="form-control" id="companyPhone" name="companyPhone" [(ngModel)]="form.companyPhone">
            </div>



        </div>

        <div class="col-md-6">
            <div class="text-center">
                <h3>LEGAL REPRESENTATIVE</h3>
            </div>

            <div class="form-group">
                <label>ID Type</label>
                <select class="form-control" id="representativeIdType" name="representativeIdType" [(ngModel)]="form.representativeIdType">
                    <option value="CC">CC</option>
                    <option value="NIT">NIT</option>
                    <option value="CD">CD</option>
                </select>
            </div>
            <div class="form-group">
                <label>ID</label>
                <input type="number" class="form-control" id="representativeID" name="representativeID" [(ngModel)]="form.representativeID">
            </div>
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" id="representativeName" name="representativeName" [(ngModel)]="form.representativeName">
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" id="representativeAddress" name="representativeAddress" [(ngModel)]="form.representativeAddress">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" id="representativeCity" name="representativeCity" [(ngModel)]="form.representativeCity">
            </div>

            <div class="form-group">
                <label>Department</label>
                <input type="text" class="form-control " id="representativeDepartment" name="representativeDepartment" [(ngModel)]="form.representativeDepartment">
            </div>

            <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" id="representativeCountry" name="representativeCountry" [(ngModel)]="form.representativeCountry">
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="number" class="form-control" id="representativePhone" name="representativePhone" [(ngModel)]="form.representativePhone">
            </div>

            <button type="submit" class="btn btn-primary">Save</button>



        </div>

    </div>

</form>